@import url("https://use.typekit.net/tqg2kya.css"); /* interstate, komet */
:root {
    --bg: #282827;
    --white: #f9fbff;
    --clr-1: #052b2f;
    --clr-2: #073438;
    --clr-3: #0e4b50;
    --clr-4: #2d8f85;
    --clr-5: #637c54;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--bg);
}
.banner {
    width: 100%;
    height: 100vh;
}
.body {
    width: 100%;
    height: 100em;
    background: #1b1b1a;
}
.title {
    width: 100%;
    font-size: 6em;
    font-family: interstate;
    -webkit-user-select: none;
    user-select: none;
}
.overlay {
    z-index: 1;
    background: white;
    opacity: 10%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    width: 100%;
    position: absolute;
    top: 10%;
    transform: translateY(-50%);
    text-align: center;
}
.undertone {
    z-index: 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    width: 100%;
    position: absolute;
    top: 10%;
    transform: translateY(-50%);
    text-align: center;
    
    animation: titleGradient 15s ease infinite;
}
@keyframes titleGradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}